@media print {
    .print-button-container {
      display: none;
    }

    #print-content, #print-content * {
      visibility: visible;
    }
  
    /* Atur posisi dari elemen yang akan dicetak agar tampil di halaman */
    #print-content {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  